*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.cell {
    width: 60px;
    height: 60px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(243, 58, 58);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.cell.clicked {
    background-color: aqua;
}

